body {
  background-image: url('../img/lamps.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #330;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#site {
  position: fixed;
  top: 0;
  width: 70%;
  padding: 5vh 5vw;
  margin: 0;
  font-size: 3.5vh;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a, a:link {
  color: #ddd;
}
