---
layout: layout.njk
title: SBS Rocks
---
<div id="site">
  <p>Welcome, friend.</p>
  <p>One cannot be inside Sasanarakkha by looking from the outside...</p>
  <p>...until then, have patience and visit our main website at <a href="https://sasanarakkha.org/">sasanarakkha.org</a>.</p>
</div>
